---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro'
---
<Layout title="About">

    <ul>
        <li>
            <Icon href="https://example.org", iconHref="/github.svg"/>
        </li>
        <li>
            <Icon href="https://example.org", iconHref="/goodreads.svg"/>
        </li>
        <li>
            <Icon href="https://example.org", iconHref="/instagram.svg"/>
        </li>

    </ul>
</Layout>

<style>

    li {
        display: grid;
        grid: repeat(2, 15px);
    }
</style>
