---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Kadeu",
		desc: "A CLI-first multi serialized flashcard program. (WIP)",
		href: "https://github.com/gd0st/kadeu",
	},
	{
		title: "Columbia Astro",
		desc: "This website, but based on the Cactus Tech Theme with AstroJS",
		href: "https://github.com/gd0st/columbia-astro",
	},
    {
        title: "gonetchat",
        desc: "A simple TCP web chat written in Go",
        href: "https://github.com/gd0st/gonetchat"
    }
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
           Hi, I am a Linux Systems Engineer and Developer based out of the Chicago area.

           I am primarily develpoing with Rust right now, but enjoy using Golang, Python and Javscript as well.

           During my freetime I like to learn new languages, play music and work on personal projects.
		</p>
		<SocialList />
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
