---
export interface Props {
    href: String,
    iconHref: String,
}
const { href, iconHref } = Astro.props;
---

<a href={href}>
    <img src={iconHref}/>
</a>

<style>
    img {
        filter: invert(100%);
    }
</style>
